.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.chart-gradient-primary {
  background: linear-gradient(180deg, rgba(0, 109, 55, 0.1) 0%, rgba(0, 109, 55, 0) 100%);
}
.chart-gradient-secondary {
  background: linear-gradient(180deg, rgba(0, 99, 151, 0.1) 0%, rgba(0, 99, 151, 0) 100%);
}
.scale-98-active:active {
  transform: scale(0.98);
}

